@charset "UTF-8";
@import url('reset.css');
@font-face {font-family: 'NanumBarunGothic'; src: url(../font/NanumBarunGothic.ttf) format('truetype'), url(../font/NanumBarunGothic.woff) format('woff');}
@font-face {font-family: 'HoonProvenceR'; src: url(../font/HoonProvenceR.ttf);}
@font-face {font-family: 'NanumBarunGothicBold'; src: url(../font/NanumBarunGothicBold.ttf);}
@font-face {font-family: 'HoonSaemaulundongR'; src: url(../font/HoonSaemaulundongR.ttf);}
a{color: #333;}
.hidden{position: absolute; left: -1000%; top: 0; width: 1px; height: 1px; overflow: hidden; color: #fff;}


#wrap{position: relative; width: 100%; color: #333; background:#fff; font-family: 'NanumBarunGothic'; letter-spacing: 1px;}

.skip_nav{position:relative;width:100%;overflow:hidden;}
.skip_nav a{display:block; height:1px; margin-bottom:-1px; overflow:hidden; text-align:center; text-decoration:none; color:#333; font-size:12px;}
.skip_nav a:hover,.skip_nav a:focus,.skip_nav a:active{ display:block;height:auto;padding:5px 0; background:#f2f2f2;}


.header{width: 100%; background: #fff; }
.header>div{width: 1280px; margin: 0px auto; height: 100px; position: relative}
.header h1 a{display: block;width:260px; height: 80px; background: url(../img/main/logo.png) no-repeat ; position: absolute; left:-0; bottom: 0px; text-indent: -9999px; z-index: 100;}
.header ul.top_nav{float: right; position: relative; right: 400px; bottom: 8px;}
.header ul.top_nav > li{float: left;;padding-right: 10px; height:40px; font-weight: normal;padding-top:10px; margin-top: 50px; }
.header .top_nav > li a{display: block; height: 20px; line-height: 20px; font-size: 16px;  padding: 0 30px; font-weight: bold;}
.header .top_nav > li:last-child a{border-right: none;}
.header .top_nav li:hover > a{ color: #006391; font-weight: bold;}
.header .top_nav li.colored:hover a{color: #e21836; font-weight: bold;}
.header .top_nav li ul{position: absolute; left: 0; width: 600px; z-index: 200;  background-color: #fff; margin-left: -20px;padding: 20px; margin-top: 10px; display: none; box-shadow: 0px 3px 8px #ccc;}
.header .top_nav li li{float: left;}
.header .top_nav li ul li a{border-right: none; height: 30px; line-height: 30px; }
.header .top_nav li ul li:hover a{color: #e21836; }

.header .util{position: absolute; right: 20px; bottom: 30px;}
.header .util li{float: left;}
.header .util li a{display: block; height: 20px; line-height: 20px; font-size: 16px; padding: 0 10px; }
.header .util li a span{margin-left: 3px; height: 18px; width:18px; background: url(../img/main/cart1.png) no-repeat left top; background-size: cover; position: absolute;}

.footer{width: 100%;border-top: 1px solid #e9e9e9; position: relative; margin-top: 10px;}
.footer > div{width: 1280px; margin: auto; position: relative;}
.footer .footer_top{margin-top: 30px; margin-bottom: 20px;}
.footer .footer_top li{display: inline-block; border-right: 1px solid #e9e9e9;}
.footer .footer_top li a{color: #666666; font-weight: bold; display: block; font-size: 13px; line-height: 1.5; padding: 0 10px;}
.footer .footer_top li:first-child a{padding-left: 0;}
.footer .footer_top li:last-child {border-right: none;}

.footer address, .footer address a, .footer p{font-size: 11.5px; color: #888888; line-height: 19px;}
.footer address a{text-decoration: underline;}
.footer p{padding-bottom: 50px; margin-top: 15px;}

.footer .sns{position: absolute; right: 0px; top: 10px;}
.footer .sns li{display: inline-block; margin-left: 5px;}
